<header>
  <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="/home">SI</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#">Item 1</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Item 2</a></li>
    </ul>
    <a class="bg-hover p-1 m-1"href="https://pt.linkedin.com/in/svipatov">
      <img class="small-logo" src="assets/images/linkedin.svg"/>
    </a>
    <a class="bg-hover p-1 m-1" href="https://fb.me/sergeyvipatov">
      <img class="small-logo" src="assets/images/facebook.svg"/>
    </a>
    <a class="bg-hover p-1 m-1" href="https://www.instagram.com/sergeyvipatov/">
      <img class="small-logo" src="assets/images/instagram.svg"/>
    </a>
  </nav>
</header>
<div class="main-content container">
  <router-outlet></router-outlet>
</div>
<footer class="container-fluid">
  <div class="row">
    <div class="col">
      asd
    </div>
    <div class="col">
      asd
    </div>
    <div class="col">
      sdasda
    </div>
  </div>
</footer>
